<%- include("../partials/head") %>
  </head>

  <body class="bg-gray-100 text-gray-900">
    <%- include("../partials/nav") %>

      <main class="container mx-auto px-4 py-10">
        <h2 class="text-3xl font-bold text-red-500 text-center mb-10">
          Here are our homes Details Show :
        </h2>
      </main>
  </body>

  </html>